@import "bootstrap-sass/assets/stylesheets/bootstrap";

.mail-list{
  tr{
    cursor:pointer;
    &:hover{
      background-color: #DEE;
    }

    &.unread{
      font-weight:600;
    }

    &.read{
      background-color:#eee;
    }
  }
}