        </div>
      </div>
    </div>

    <script src="/assets/jquery/dist/jquery.min.js"></script>    
    <!-- <script src="/assets/jquery-ui/jquery-ui.min.js"></script>  -->
    <script src="/assets/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/app.min.js"></script>
  </body>
</html>
