<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/app.min.css' />
    <link rel='stylesheet' href='/assets/jquery-ui/themes/base/jquery-ui.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="/images/brand_32x32.jpeg">
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <% if(locals.user) {%>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
          <%}%>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <% if(locals.user) {%>
          <div class="container-fluid">
            <div class="row center-block">
              <button type="button" class="btn btn-danger btn-lg btn-block" style="margin: 0 0 20px 0" onclick="composeNewMail()">Compose</button>
            </div>
            <div class="row">
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" <% if(mail_box_id == 1){ %> class="active"<% } %> ><a href="/inbox">Inbox</a></li>
                <li role="presentation" <% if(mail_box_id == 2){ %> class="active"<% } %> ><a href="/sent">Sent</a></li>
                <li role="presentation" <% if(mail_box_id == 3){ %> class="active"<% } %> ><a href="/drafts">Drafts</a></li>
                <li role="presentation" <% if(mail_box_id == 4){ %> class="active"<% } %> ><a href="/trash">Trash</a></li>
              </ul>
            </div>
          </div>
          <%}%>
        </div>
        <div class="col-sm-10">
      
