<%- include('header'); -%>
<table class="table table-condensed mail-list">
  <thead>
    <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Received</th>
    </tr>
  </thead>
  <tbody>
    <% mails.forEach(function(mail){ %>
    <tr 
    <% if(mail_box_id == 3){ %>
    onclick="editMail(<%= mail.Message.id %>)"
    <%}else{%>
    onclick="viewMail(<%= mail.Message.id %>)"
    <%}%>

    <%if(mail.is_read !== 0){%> class="read" <%}else{%> class="unread" <%}%>
    >
        <td><%= mail.Message.sender.email %></td>
        <td><%= mail.Message.subject_line %></td>
        <td>
          <%= mail.Message.updated_at %>
        </td>
    </tr>
    <% });%>
  </tbody>
</table>

<%- include('modal'); -%>
<%- include('footer'); -%>