<%- include('header'); -%>
<div class="row">
    <div class="col-sm-3 col-sm-offset-9">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" onclick="composeReplyToMail( <%= mail.id %>)">Reply</button>
          <button type="button" class="btn btn-default" onclick="composeForwardMail( <%= mail.id %>)">Forward</button>
          <button type="button" class="btn btn-default">Delete</button>
        </div>
    </div>
</div>
<% function renderMessage(message){ %>
        <div><b>From:</b> <%=message.sender.email%> </div>
        <div><b>To:</b> <%=message.mail_to%></div>
        <div><b>Subject:</b> <%=message.subject_line%></div>
        <div><%=message.body%></div>
        <% if(message.child_msg){ %> 
            <div class="well">
                <% renderMessage(message.child_msg) %>
            </div>
        <%}%>
<% } %>
<% renderMessage(mail) %>
<script type="text/javascript" src="/read/<%= mail.id %>"></script>

<%- include('modal'); -%>
<%- include('footer'); -%>